* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    height: 70px;
}

nav {
    height: 70px;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 1000;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px 50px;

}

nav .logo {
    font-size: 30px;
    color: #ca3969;
    font-weight: bold;
    padding: 0px 70px;
    font-family: "Anton SC", sans-serif;
    letter-spacing: 3px;

}

nav ul li {
    margin: 0 5px;
}


nav ul {
    width: 25%;
    display: flex;
    list-style: none;
    /* background-color: red; */
    justify-content: space-between;

}

/* 
nav ul li{
    font-size: 30px;
} */
nav ul li a {
    color: #ca3969;
    font-weight: bold;
    text-decoration: none;
    /* font-size: 0px; */
    letter-spacing: 1px;
    font-size: 2.5vh;
    padding: 15px 20px 15px 20px;
}

nav ul li a:hover {
    color: #89133d;
    background-color: white;
    border-radius: 20px;
    font-weight: bold;
}


nav .menu_bttn {
    color: white;
    cursor: pointer;
    font-size: 20px;
    display: none;
}

#click {
    display: none;
}

.about_usbg{
    height: 60vh;
    width: 100%;
    background-color: #ca3969;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
    
    font-family: "Anton SC", sans-serif;
}


.aim{
    height: 25vh;
    width: 100%;
    /* background-color: rebeccapurple;     */
    display: flex;
    color: #ca3969;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    font-family: "Anton SC", sans-serif;
    letter-spacing: 2px;
}

.content{
    height: 100vh;
    width: 100%;
    background-color: yellow;
}












footer {
    background-color: #333333;
    justify-content: space-between;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.footer_elements {
    /* background-color: red; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: lightgrey;
}

.footer_element1 img {
    height: 75px;
    width: 150px;
}

.footer_element1 {
    height: 55vh;
    width: 300px;
    /* background-color: red; */
    align-items: start;
    /* text-align: center; */
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 12px;
    padding: 20px;
    text-decoration: none;
    color: white;
}

.footer_element1 .text {
    font-size: 20px;
    font-weight: bold;
    /* background-color: yellow; */
    /* text-align: justify */
    height: 10vh;
    width: 80px;
}

.footer_element2 {
    height: 30vh;
    width: 80px;
    /* background-color: yellow; */
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: justify;

}



.footer_element2 a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    /* font-weight: bold; */
    text-align: justify;
}

@media (max-width:940px) {}