* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    height: 70px;
}

nav {
    height: 70px;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 1000;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px 50px;

}

nav .logo {
    font-size: 30px;
    color: #ca3969;
    font-weight: bold;
    padding: 0px 70px;
    font-family: "Anton SC", sans-serif;
    letter-spacing: 3px;

}

nav ul li {
    margin: 0 5px;
}


nav ul {
    width: 25%;
    display: flex;
    list-style: none;
    /* background-color: red; */
    justify-content: space-between;

}

/* 
nav ul li{
    font-size: 30px;
} */
nav ul li a {
    color: #ca3969;
    font-weight: bold;
    text-decoration: none;
    /* font-size: 0px; */
    letter-spacing: 1px;
    font-size: 2.5vh;
    padding: 15px 20px 15px 20px;
}

nav ul li a:hover {
    color: #89133d;
    background-color: white;
    border-radius: 20px;
    font-weight: bold;
}


nav .menu_bttn {
    color: white;
    cursor: pointer;
    font-size: 20px;
    display: none;
}

#click {
    display: none;
}

.about_usbg {
    height: 60vh;
    width: 100%;
    background-color: #ca3969;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;

    font-family: "Anton SC", sans-serif;
}


.aim {
    height: 25vh;
    width: 100%;
    /* background-color: rebeccapurple;     */
    display: flex;
    color: #ca3969;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    font-family: "Anton SC", sans-serif;
    letter-spacing: 2px;
}


.box {
    width: 100%;
    height: auto;
    justify-content: center;
    display: flex;
}

.container {
    height: auto;
    width: 95%;
    padding: 5%;
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 1px 3px 10px 5px rgba(0, 0, 0, 0.3);
}

.textpara {
    height: 300vh;
    width: 85%;
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    text-align: justify;
    /* background-color: green; */
    justify-content: space-evenly;
}


.title {

    /* background-color: red; */
    font-size: 20px;
    /* font-weight: bold; */
    font-family: "Anton SC", sans-serif;
    letter-spacing: 2px;

}

.description {
    height: 40vh;
    /* background-color: rebeccapurple; */



}

.images {
    height: 300vh;
    /* background-color: yellow; */
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.image1 {
    /* background-color: red; */
    height: auto;
    width: auto;

}

.images img {
    height: 40vh;
    width: 40vh;
}

.empty_space {
    height: 10vh;

}







footer {
    background-color: #333333;
    justify-content: space-between;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.footer_elements {
    /* background-color: red; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: lightgrey;
}

.footer_element1 img {
    height: 75px;
    width: 150px;
}

.footer_element1 {
    height: 55vh;
    width: 300px;
    /* background-color: red; */
    align-items: start;
    /* text-align: center; */
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 12px;
    padding: 20px;
    text-decoration: none;
    color: white;
}

.footer_element1 .text {
    font-size: 20px;
    font-weight: bold;
    /* background-color: yellow; */
    /* text-align: justify */
    height: 10vh;
    width: 80px;
}

.footer_element2 {
    height: 30vh;
    width: 80px;
    /* background-color: yellow; */
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: justify;

}



.footer_element2 a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    /* font-weight: bold; */
    text-align: justify;
}

@media (max-width:940px) {
    nav {
        background-color: black;
        /* width: 100%; */
        justify-content: space-around;
    }

    nav .logo {
        padding: 0px 0px;
    }

    nav .menu_bttn {
        display: block;


    }

    #click:checked~.menu_bttn :before {
        content: "\f00d";
        height: 10px;
        display: block;

    }


    nav ul {
        position: fixed;
        left: -100%;
        top: 70px;
        background-color: #111;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.4s;
    }

    nav ul li {
        margin: 40px 0;
    }

    #click:checked~ul {
        left: -0%;
    }


    nav ul li a {
        color: white;
        display: block;

    }

    nav ul li a:hover,
    nav ul li a.active {
        color: #ca3969;
    }


    .about_usbg {
        height: 40vh;
        width: 100%;
        background-color: #ca3969;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 25px;

        font-family: "Anton SC", sans-serif;
    }

    .aim {
        height: 15vh;
        width: 100%;
        /* background-color: rebeccapurple;     */
        padding: 10px 20px;
        display: flex;
        color: #ca3969;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        font-family: "Anton SC", sans-serif;
        letter-spacing: 2px;
        text-align: center;
    }


    .box {
        width: 100%;
        height: auto;
        justify-content: center;
        display: none;
        display: flex;
        flex-direction: column;
    }

    .container {
        height: auto;
        width: 100%;
       
        /* background-color: pink; */
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: space-between;
        box-shadow:none;
    }

    .textpara {
        height: auto;
        max-height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* text-align: justify; */
        /* background-color: green; */
        justify-content: space-evenly;
    }


    .title {

        /* background-color: red; */
        font-size: 20px;
        width: 100%;
        /* font-weight: bold; */
        font-family: "Anton SC", sans-serif;
        letter-spacing: 2px;
        margin-bottom: 20px;

    }

    .description {
        height: auto;
        width: 100%;
        margin-bottom: 20px;
        /* background-color: rebeccapurple; */



    }

    .images {
        height: 300vh;
        /* background-color: yellow; */
        width: auto;
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
    }


    .image1 {
        /* background-color: red; */
        height: auto;
        width: auto;

    }

    .images img {
        height: 40vh;
        width: 40vh;
    }

    .empty_space {
        height: 10vh;

    }





    footer {
        background-color: #333333;
        width: 100%;
        height: 130vh;

    }

    .footer_elements {

        width: 100%;
        height: 130vh;
        display: flex;
        flex-direction: column;
        /* background-color: red;     */
        justify-content: center;
        color: lightgrey;
    }

    .footer_element1 img {
        height: 50px;
        width: 80px;
    }

    .footer_element1 {
        height: 30vh;
        width: 89%;
        padding: 5% 4%;
        /* background-color: green; */
        align-items: start;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 10px;

        text-decoration: none;
        color: white;

    }


    .footer_element1 .text {
        font: 30px;
    }






}