* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
}

header{
    height: 90px;
}
nav {
    height: 90px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1000;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 20px 0px ;

}

nav .logo {
    font-size: 30px;
    color: #ca3969;
    font-weight: bold;

}

nav ul li {
    margin: 0 5px;
}


nav ul {
    width: 25%;
    display: flex;
    list-style: none;
    /* background-color: red; */
    justify-content: space-between;

}


nav ul li a {
    color: #ca3969;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 2.5vh;
}

nav ul li a:hover,
nav ul li a.active {
    color: #89133d;
}


nav .menu_bttn {
    color: white;
    cursor: pointer;
    font-size: 20px;
    display: none;
}

#click {
    display: none;
}


.img_bg {
    background-color: #ca3969;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 110vh;
    text-align: center;
    justify-content: space-evenly;
    align-self: center;
}

.intropage img {
    width: 80%;
    height: 80vh;
    /* align-items: center; */
}

.why_us {
    width: 100%;
    height: 120vh;
    background-color: green;
    /* justify-content: space-around   ; */
    gap: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

}

.why_us_element1 {
    font-size: 30px;
    font-weight: 900;
    color: #89133d;
    margin-top: 50px;
    align-items: center;
    /* background-color: pink; */
}



.why_us_element2 {
    /* background-color: yellow; */
    /* justify-content: space-around; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 60vh;
    gap: 30px;

}

.why_us_element3 {
    border-color: #b1b1b0;
    border-style: groove;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 380px;
    height: 55vh;
    text-align: center;
    font-size: 15px;
    display: flex;
    font-weight: 800;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 30px;

}

.why_us_element3 .circle {
    background-color: #89133d;
    width: 75px;
    height: 75px;
    align-self: center;
    border-radius: 50px;
}

.why_us_element3:hover {
    background-color: #89133d;
    color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    
}

.why_us_element3:hover .circle {
    color: white;
    background-color: white;
    transition: 0.7s ease;
}


.why_us_element3 .para {
    font-size: 17px;
    text-align:justify;
    font-weight: 300;



}


footer {
    background-color: #333333;
    justify-content: space-between;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
}

.footer_elements {
    /* background-color: red; */
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: lightgrey;
}

.footer_element1 img {
    height: 100px;
    width: 260px;
}

.footer_element1 {
    height: 55vh;
    width: 350px;
    /* background-color: red; */
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    padding: 20px ;
    text-decoration: none;
    color: white;
}

/* 
@media(min-width:1400){

    .why_us_element3 .para{
        font-size: 30px;
    }

} */



@media (max-width:940px) {

    nav {
        background-color: black;
    }

    nav .menu_bttn {
        display: block;


    }

    #click:checked~.menu_bttn :before {
        content: "\f00d";
        height: 10px;
        display: block;

    }


    nav ul {
        position: fixed;
        left: -100%;
        top: 80px;
        background-color: #111;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.4s;
    }

    nav ul li {
        margin: 40px 0;
    }

    #click:checked~ul {
        left: -0%;
    }


    nav ul li a {
        color: white;
        display: block;

    }

    nav ul li a:hover,
    nav ul li a.active {
        color: #ca3969;
    }

    .intropage img {
        height: 50vh;
    }

    .img_bg {
        width: 100%;
        height: 50vh;
    }

    .intropage img {
        width: 80%;
        height: 40vh;
    }
    
    .why_us_container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .why_us{
        height: 150vh;
        width: 90%;
        display:flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-content: center;

    }

    .why_us_element1 {
        font-size: 30px;
        font-weight: 900;
        color: #89133d;
        margin-top: 50px;
        margin-bottom: 0;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    .why_us_element2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100vh;
        gap: 30px;
    }
    .why_us_element3{
        width: 90%;
    }

    .why_us_element3 .circle {
        background-color: #89133d;
        width: 75px;
        height: 75px;
        align-self: center;
        border-radius: 50px;
    }

    .why_us_element3:hover .circle {
        color: white;
        background-color: white;
        transition: 0.7s ease;
    }
    footer{
        width: 100%;

    }
    .footer_elements{
        width: 100%;
    }
    
    .footer_element1 img{
        width: 40px;
        height: 20px;
    }

    .footer_element1{
        font-size: 7px;
    }
}