* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white; 
    
}

header {
    height: 4%;
    padding-top: 0.5%;
    font-size: 80%;
    display: flex;
    background-color: #1e1e21;
    color: #b1b1b0;
    padding-left: 15%;
    padding-right: 15%;
    justify-content: space-between;
}

header:hover {
    color: white;

}



.Nav {
    z-index: 1000;
    background-color: white;
    
    top: 0;
    height: 11%;
    width: 100%;
    position: sticky;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    
}

.Nav img {
    height: 100%;
    /* padding-left: 15%; */
}

.Nav2 {
    padding: 0.5rem 1rem;
    font-weight: 800;
    width: 600px;    
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #ca3969;
    cursor: pointer;
}
.Button{
    color: #ca3969;
    text-decoration: none;
    
}
.Button:hover {
    color: #89133d;

}


.Button:active {
    color: #89133d; /* Ensure active links use the same color as hover */
}

.intropage img {
    width: 100%;
    /* justify-content: center; */
    /* background-color: red; */
    align-self: center;
    /* padding-top: 10%; */
}




footer {
    background-color: #1e1e21;
    color: gainsboro;
    height: 20%;
    padding: 2%;
    display: block;
    justify-content: space-evenly;
    
text-align: center;     
    }

.title{
    font-size: 125%;
    text-decoration: underline;
    font-weight: 900;
    color:gainsboro;
    padding-bottom: 1%;
    /* background-color: red; */
}    

.contact_details{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 75%;
    font-size: 100%;
    /* background-color: red;s\ */
}
.email{
    width: 40%;
    height: 150%;
    /* background-color: red; */
 
    justify-content: center ;
}
.address{
    width:70% ;
   height: 150%;
    /* background-color: red; */
}





/* .Global_nav{
    width: 40%;
    height: 5%;
    justify-content: center;
    color: black;
    /* background-color: yellow; */
/* display: flex; 
    padding: 0px;
    text-align: center;
    align-items: center;
    font-size: 16px;
    text-decoration: none;
    /* margin: 10px; */
/* cursor: pointer;
}
.button{
    color: inherit;
    padding-top: 3.5%;
    text-decoration: none;
    width: 25%;
    height: 100%;
}
.button:hover{
    background-color: lightskyblue;
    color: white; */
/* } */